server:
  port: 8080

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: guilherme.malfara@gmail.com
    password: gqsc tjun kitp nrqb
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

app:
  mail:
    from: "Reinos Perdidos <guilherme.malfara@gmail.com>"
